fieldset{
    background-color: rgb(3, 19, 49);
    border-style: solid;
    height: 500px;
    width: 500px;
   
}
a{
    text-decoration: none;
    color: whitesmoke;
}
#a1{
    background-color: green;
    height: 50px;
    width: 250px;
    text-align: center;
}
#a2{
    background-color:gray;    
    height: 50px;
    width: 50px;
    text-align: center;
}
#a3{  
    height: 100px;
   font-size: 30px;
    width: 250px;
    text-align: center;
}

.t2{
    background-color: rgb(3, 19, 49);
    width: 200px;
    height: 30px;
    margin-bottom: 40px;
    color: whitesmoke;
    text-decoration: whitesmoke;
}
.t3{
    background-color: rgb(3, 19, 49);
    width: 450px;
    height: 30px;   
   color: whitesmoke;
    margin-bottom: 40px;
}
#a4{  
    text-align: center;
    background-color: green;
    height: 50px;
    width: 250px;
}
